body {
    background: #DED6D6;
}

h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 50px auto;
    font-size: 50px;
    color: #7D938A;
}

p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 0px auto;
    width: 70%;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 20px auto;
    background: #ADA0A6;
    padding: 30px;
    border-radius: 5px;
}

img {
    margin: auto;
    padding: 20px;
    border: 10px dashed #D2CBCB;
}

.hidden {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}

ul {
    list-style-type: disc;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    margin: 100px;
    line-height: 30px;
}